<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./index.css" />
  </head>
  <body>
    <div class="container">
      <details open="open">
        <summary>myproject</summary>
        <div class="folder">
          <p>app.py</p>
          <p>package.json</p>
          <details open="open">
            <summary>static</summary>
            <div class="folder">
              <details>
                <summary>css</summary>
                <div class="folder">
                  <p>index.css</p>
                  <p>template.css</p>
                </div>
              </details>
              <details open="open">
                <summary>js</summary>
                <div class="folder">
                  <p>index.js</p>
                  <p>jquery-min.js</p>
                </div>
              </details>
              <details>
                <summary>img</summary>
                <div class="folder">
                  <p>banner.png</p>
                  <p>foo.png</p>
                </div>
              </details>
            </div>
          </details>
          <details open="open">
            <summary>templates</summary>
            <div class="folder">
              <p>index.html</p>
              <p>template.html</p>
            </div>
          </details>
        </div>
      </details>
    </div>
    <script src="./script.js"></script>
  </body>
</html>
