/.DS_Store

**/*/node_modules
*/*/*/node_modules
*/*/*/*/node_modules
*/*/*/*/*/node_modules

git-submodules
js/.DS_Store
js/inc/server08/.DS_Store
js/inc/.DS_Store
js/inc/server15/.DS_Store
js/inc/server15/__tests__/.DS_Store
